body {
    background-color: #f0f2f5;
}

.weather-card {
    max-width: 25rem;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    
}

.weather-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.25rem;
}

.input-group-text {
    background-color: #fff;
    border: none;
}

.weather-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.weather-info {
   font-size: 1em;
color: #555;
margin-bottom: 0.5rem;
}

.weather-btn {
    background-color: #007bff;
    border: none;
}

.weather-btn:hover {
    background-color: #0056b3;
}

.sunny-icon {
    position: absolute;
    top: 1rem;
right: 1rem;
color: #ffce00;
font-size: 3rem;
}